#feature-p {
    padding-top: 30px;
}
#feature-h {
    padding-top: 10px;
}
.vimeo-container {
  	position: relative;
	padding-bottom: 56.25%;
	height: 0;
	overflow: hidden;
	margin-bottom: 0;
}

#vid {
	position: absolute;
    top:0;
    left: 0;	
	clear:both;
	height: 100%;
  	width: 100%;
}
.video-row { 
	margin-bottom: 20px;
}

#about {
    background-color: rgb(247, 247, 247);
}

#about h3 {
	font-size: 22px;
}
.about_lee {
    font-size: 9.8pt;
}

#client-list {
	padding-left:0; 
}


@media (min-width: 769px) and (max-width: 1200px) {
    .section-padding {
        padding:140px 0 60px 0;
    }
}
